[submodule "packages/pocket-shader"]
	path = packages/pocket-shader
	url = https://github.com/braebo/pocket-shader
[submodule "packages/threets"]
	path = packages/threets
	url = https://github.com/braebo/threets
[submodule "apps/working-memory"]
	path = apps/working-memory
	url = https://github.com/braebo/working-memory.git
